@model IEnumerable<CMCS_Web_App.Models.Claim>

@{
    ViewData["Title"] = "Review Claim";
}

<div class="page">
    <div class="wrapper">
        <div class="table">

            <h1>Review Requested Claims</h1>
            <p>Review the list of all requested claims below.</p>
            <table>
                <tr>
                    <th>Claim ID</th>
                    <th>Lecturer ID</th>
                    <th>Full Name</th>
                    <th>Claim Amount</th>
                    <th>Hours Worked</th>
                    <th>Hourly Rate</th>
                    <th>File</th>
                    <th>Review</th>
                </tr>

                @foreach (var claim in Model)
                {
                    @if (claim.ClaimStatus == "Pending")
                    {
                        <tr>
                            <td>@claim.ClaimId</td>
                            <td>@claim.LecturerId</td>
                            <td>@claim.Lecturer.FirstName @claim.Lecturer.Surname</td>
                            <td>R @claim.ClaimAmount</td>
                            <td>@claim.HoursWorked Hrs</td>
                            <td>R @claim.HourlyRate / h</td>
                            <td><a asp-controller="Home" asp-action="DownloadFile" asp-route-id="@claim.ClaimId">@claim.FileName</a></td>
                            <td>
                                <form asp-controller="Home" asp-action="ApproveClaim" method="post">
                                    <input type="hidden" name="id" value="@claim.ClaimId" />
                                    <button class="btn btn-accept" type="submit">Approve</button>
                                </form>
                                <form asp-controller="Home" asp-action="RejectClaim" method="post">
                                    <input type="hidden" name="id" value="@claim.ClaimId" />
                                    <button class="btn btn-reject" type="submit">Reject</button>
                                </form>
                            </td>
                        </tr>
                    }
                }

            </table>
        </div>
    </div>
</div>